<div class="bgColor">
  <div class="container center-align">
    <span class="titleEffectSub amber-text text-accent-4">{{titulo}}</span>
  </div>
  <div class="divider"></div>
  <div class="row col s8 container center-align">
    <form name="formcadastro">
      <div class="row s8">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" ng-model="vm.nome" required>
          <label for="first_name">Nome</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" ng-model="vm.sobrenome" required>
          <label for="last_name">Sobrenome</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="disabled" type="text" class="validate" ng-model="vm.endereco" required>
          <label for="disabled">Endereço</label>
        </div>
      </div>
      <div class="row left-align">
        <div class="col s6">
          <div class="input-field inline">
            <input id="email" type="email" class="validate" name="email" ng-model="vm.email" required>
            <label for="email" data-error="Email incorreto!" data-success="Ok">Email</label>
          </div>
        </div>
        <div class="input-field col s6">
          <input type="date" class="datepicker" name="datanasc" ng-model="datanasc">
          <label for="inputCreated">Data Nascimento:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="login" type="text" name="login" minlength="5" maxlength="15" ng-model="vm.login" class="validate" required>
          <label for="login">Login</label>
        </div>
      </div>
      <p class="red-text" ng-show="formcadastro.login.$error.minlength">Login é muito curto, minimo 5 caracteres.</p>
      <div class="row">
        <div class="input-field col s6">
          <input id="senha" type="password" name="senha" minlength="5" ng-model="vm.senha" class="validate" required>
          <label for="senha">Senha</label>
        </div>
      </div>
      <p class="red-text" ng-show="formcadastro.senha.$error.minlength">Senha muito curta, minimo 5 caracteres.</p>
      <div class="row">
        <button class="btn waves-effect waves-light" ng-click="enviarCadastro()" ng-disabled="formcadastro.$invalid && formcadastro.datanasc.$valid">Enviar
            <i class="material-icons right">done</i></button>
        <a class="btn waves-effect waves-light" ng-click="limpar()" >Limpar
            <i class="material-icons right">delete</i></a>
      </div>
    </form>
  </div>
</div>