<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">My Series</h1>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">
        <h4 ng-bind="titulo" class="center blue-text"></h4>
        <div class="container">
            <div class="carousel">
                <a class="carousel-item" href="#/serie" value=""><img src="img/clint.png">
                    <p class="center-right">Clint</p>
                </a>
                <a class="carousel-item" href="#/serie" value="startrek"><img src="img/startrek.jpg">
                    <p class="center-right">Startrek</p>
                </a>
                <a class="carousel-item" href="#/serie" value="super"><img src="img/super.jpg">
                    <p class="center-right">Superman</p>
                </a>
                <a class="carousel-item" href="#/serie" value="tango"><img src="img/tango-filme_cartaz.jpg">
                    <p class="center-right">Tango</p>
                </a>
            </div>
        </div>
        <div class="dadosSerie">
        </div>
    </div>
    <br><br>
</div>