<div class="col s12 m7 recuoEsquerdo">
    <h2 class="header teal-text text-darken-3">{{titulo}}</h2>
    <div class="card horizontal bordaCard">
        <div class="card-image">
            <img class="hoverable" src="{{poster}}">
        </div>
        <div class="card-stacked">
            <div class="card-content grey darken-4">
                <div class="row">
                    <div class="input-field col s1">
                        <i class="material-icons large starColor">star</i>
                    </div>
                    <div class="input-field col s1">
                        <h2 class="recuoEsquerdo grey-text text-lighten-5">{{nota}}</h2>
                    </div>
                </div>
                <h4 class="descricao grey-text text-lighten-5"> Sinopse: </h4>
                <p class="grey-text text-lighten-5"> {{descricao}} </p>
            </div>
            <div class="card-action">
                <script type="text/javascript">
                    function trocar(nome) {
                        if (nome == "img/icons/fullPlus-icon.png") {
                            if (document.getElementById("iconeAdd").src == "../img/icons/fullPlus-icon.png") {
                                document.getElementById("iconeAdd").src = "../img/icons/plus-icon.png";
                            } else {
                                document.getElementById("iconeAdd").src = nome;
                            }
                        } else if (nome == "img/icons/check-icon.png" || nome == "../img/icons/eye-icon.png") {
                            if (document.getElementById("iconEye").src == "../img/icons/check-icon.png") {
                                document.getElementById("iconEye").src = "../img/icons/eye-icon.png";
                            } else {
                                document.getElementById("iconEye").src = nome;
                            }
                        } else if (nome == "img/icons/fullHeart-icon.png" || nome == "..img/icons/empytHeart-icon.png") {
                            if (document.getElementById("iconeHeart").src == "../img/icons/fullHeart-icon.png") {
                                document.getElementById("iconeHeart").src = "../img/icons/empytHeart-icon.png";
                            } else {
                                document.getElementById("iconeHeart").src = nome;
                            }
                        }
                    }
                </script>

                <a href="" onclick="trocar('img/icons/fullPlus-icon.png')"><img id="iconeAdd" src="img/icons/plus-icon.png" width="30" height="30" title="Adicionar a sua lista de séries"></img>
                </a>
                <a href="" onclick="trocar('img/icons/check-icon.png')"><img id="iconEye" src="img/icons/eye-icon.png" width="30" height="30" title="Adicionar as séries assistidas"></img>
                </a>
                <a href="" onclick="trocar('img/icons/fullHeart-icon.png')"><img id="iconeHeart" src="img/icons/empytHeart-icon.png" width="30" height="30" title="Adicionar as séries favoritas"></img>
                </a>
                <a id="imdb" href="http://www.imdb.com/title/{{id}}" target="blak">Imbd</a>

            </div>
        </div>
    </div>
    <ul class="collapsible popout" data-collapsible="accordion" watch>
        <li>
            <div class="collapsible-header"><i class="material-icons">theaters</i>Premiações</div>
            <div class="collapsible-body fbold"><span>{{premiacao}}</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">perm_identity</i>Atores</div>
            <div class="collapsible-body fbold">
                <span>{{atores}}</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">view_list</i>Episódios</div>
            <div class="collapsible-body teal lighten-5 fbold">
                <div class="row">
                    <div class="col s3 center-align">Episódio</div>
                    <div class="col s1 center-align">Nota</div>
                </div>
                <div ng-repeat="temporada in episodios">
                    </br>
                    <div class="divider"></div>
                    </br>
                    <div class="divider"></div>
                    <span class="flow-text teal-text text-darken-3">{{$index + 1}} ° Temporada</span>
                    </br>
                    <div class="divider"></div>
                    </br>
                    <div ng-repeat="episodio in temporada">
                        <div class="row">
                            <div class="col s3" ng-click="dadosEpisodio(episodio.imdbID)">
                                {{episodio.Episode}} - {{episodio.Title}}
                            </div>
                            <div class="col s1">
                                <span class="center-align"><i class="material-icons starColor">grade</i> {{episodio.imdbRating}}</span>
                            </div>
    </ul>
    </div>
    <div class="divider"></div>
    <div carousel duration="5" dist="50">
        <a class="carousel-item" href="#one!"><img src="img/got/got1.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="img/got/got2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="img/got/got3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="img/got/got4.png"></a>
        <a class="carousel-item" href="#five!"><img src="img/got/got5.jpg"></a>
    </div>
    <div class="divider"></div>
    <div class="container center-align">
        <h1 class="teal-text text-darken-3">Vídeos</h1>
        <div class="video">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/JxWfvtnHtS0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="divider"></div>
    <div class="container">
        <h1 class="amber-text text-accent-4">Comentários</h1>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="img/avatar.jpg" alt="" class="circle">
                <span class="title">Game of Thrones</span>
                </br>
                </br>
                <div class="right-align">
                    <i class="material-icons positive" style="cursor: pointer" ng-click="calculaAvaliacao(1)">thumb_up</i>
                    <i class="material-icons negative" style="cursor: pointer" ng-click="calculaAvaliacao(0)">thumb_down</i>
                    <span
                        class="badge" ng-bind="badge"></span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsum.
                </p>
            </li>
        </ul>
        <legend class="teal-text text-darken-3">Inserir Comentário</legend>
        </br>
        </br>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="comentario" class="materialize-textarea" maxlength="250" data-length="250"></textarea>
                        <label for="comentario">Comentário</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                            <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/funçoes-JS.js"></script>
    </div>
    <script type="text/javascript" src="js/funçoes-JS.js"></script>
    </div>