/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.recuo {
    margin-left: 15px
}

.modal {
    width: 500px
}

.conteudo {
    min-height: 500px
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main h2.header {
    text-align: center;
}

main h4.descricao {
    font-size: 20px;
    color: #606060;
}

div.video {
    position: relative;
}

.recuoEsquerdo {
    padding-left: 20px;
}

.starColor{
    color:goldenrod;
}

.widthComentario {
    width: 200px;
}

.bordaCard {
    border: 2px;
    border-color: black;
}
a#imdb{
    
}
