/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.recuo {
  margin-left: 15px
}

.card {
    overflow: visible !important;
}

.button, input, optgroup, select, textarea {
  color : black !important;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #9e9e9e !important;
    border-radius: 0 !important;
    outline: none !important;
    height: 3rem !important;
    width: 100% !important;
    font-size: 1rem !important;
    margin: 0 0 20px 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    transition: all 0.3s !important;
}